<div class="main-body">
  <div class="sidebar-main-active right-column-fixed">
    <!-- Wrapper Start -->
    <div class="wrapper">
      <!-- Sidebar  -->
      <div class="iq-sidebar">
        <div id="sidebar-scrollbar">
          <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
              <li>
                <a class=" collapsed"  data-toggle="collapse" aria-expanded="false" [routerLink]="['/admin/subscription']"><i class="pi pi-paperclip"></i><span>Subscription</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
              </li>
              <li>
                <a class=" collapsed"  data-toggle="collapse" aria-expanded="false" [routerLink]="['/admin/piste']"><i class="pi pi-microsoft "></i><span>Piste</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
              </li>
              <li>
                <a class="iq-waves-effect collapsed"  data-toggle="collapse" aria-expanded="false"><i class="pi pi-sitemap"></i><span>Humain Ressource</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
              </li>
              <li>
                <a class="iq-waves-effect collapsed"  data-toggle="collapse" aria-expanded="false"><i class="pi pi-server"></i><span>Analysis Service</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
              </li>
              <li>
                <a class="iq-waves-effect collapsed"  data-toggle="collapse" aria-expanded="false"><i class="pi pi-folder-open"></i><span>Training service</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
              </li>
              <li>
                <a class="iq-waves-effect collapsed"  data-toggle="collapse" aria-expanded="false"><i class="pi pi-folder-open"></i><span>X service</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>
